modules = ["angular-node-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 40963005
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ui-myfamilyhealth-platform && ng serve --host 0.0.0.0 --port 5000"
