modules = ["web", "nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 40963005
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ng serve --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 4200
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80
